@model App.BLL.DTO.Cafe

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Cafe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CafeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CafeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CafeAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CafeAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CafeEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CafeEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CafeTelephone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CafeTelephone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CafeWebsiteLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CafeWebsiteLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CafeAverageRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CafeAverageRating)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
