@model IEnumerable<App.BLL.DTO.Cafe>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CafeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CafeAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CafeEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CafeTelephone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CafeWebsiteLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CafeAverageRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City!.CityName)
            </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PhotoLink)
                        </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CafeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CafeAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CafeEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CafeTelephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CafeWebsiteLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CafeAverageRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City!.CityName)
            </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhotoLink)
                        </td>
            
            <td>
                @* <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> | *@
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
